<p><%= boat_job.boat.name %> is assigned to <%= boat_job.job.title%></p>
<p>Boat Container Volume: <%= boat_job.boat.container_volume %></p>
<p>Job Containers Needed: <%= boat_job.job.containers_needed%></p>
<hr>
