<h1>ShipEx</h1>
<p id="p1">-We ship shit for less</p>

<h1>Boat-Job Assignments</h1>
<div class="boat-job-div2">
  <% @boat_job.each do |boat_job| %>
    <p><%= boat_job.boat.name %> is assigned to <%= boat_job.job.title%></p>
    <p>Boat Container Volume: <%= boat_job.boat.container_volume %>
    <p>Job Containers Needed: <%= boat_job.job.containers_needed%></p></p>
    <hr>
  <% end %>
</div>
