// font-family: 'Montserrat', sans-serif;
// font-family: 'Crimson Text', serif;

.column {
  float: left;
  // width: 50%;
}

.boat-job-div1 {
  width: 36%;
  padding: 24px;
}

.boat-job-div2 {
  width: 36%;
  padding: 24px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
