<h2>Boat List</h2>

<div class="column boat-job-div2">
  <% @boats.each do |boat| %>
  <% if boat.shipper_id == current_shipper.id %>
    <p>Boat name: <%= boat.name %></p>
    <p>Container volume: <%= boat.container_volume %></p>
    <p>Location: <%= boat.location %></p>
    <hr>
    <% end %>
  <% end %>
</div>
