<h1>Boats#show</h1>
<p>Find me in app/views/boats/show.html.erb</p>


<p>Title: <%= @boat.name %></p>
<p>Location: <%= @boat.location %></p>
<% if @boat.avatar.url %>
<p>Boat Image: <%= image_tag @boat.avatar.url, class: "boat-image" %></p>
<% end %>

<%= link_to "Delete Boat", boat_path(@boat), method: :delete %>
