<h1>ShipEx</h1>
<p id="p1">-We ship shit for less</p>


<p>Title: <%= @boat.name %></p>
<p>Location: <%= @boat.location %></p>
<% if @boat.avatar.url %>
<%= image_tag @boat.avatar.url %>
<% end %>

<%= link_to "Delete Boat", boat_path(@boat), method: :delete %>
